---
version: "3.8"

services:
  app:
    container_name: thumbnail_getter_app
    image: thumbnail_getter:latest
    build:
      context: ../..
      dockerfile: ./docker/dev/Dockerfile
    env_file:
      - ../../.env
    restart: unless-stopped
    volumes:
      - ../..:/code/
    ports:
      - 80:80
      - 443:443
      - "${APP_PORT:-8888}:8000"
